body {
    margin: 0px;
    padding: 0px;
    background: black;


}

 h1 {
     font-family: poppins;

     font-weight: 300;
    
     margin: 20px;
     
     text-align:center;


}

.container img {
    border-radius: 10px;

}

.galleryContainer {
    width: 900px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

}


.gallery {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    width:100%;

}

.gallery input {
    display: none;
}

.gallery > img:first-of-type {
    position: relative;
    display:flex;
    top: 0;
    left: 0;
    z-index: 10;

}

.galleryImage {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    width: 100%;
    object-fit: cover;

}

.thumbnails {
    margin-top:10px;
    height:5%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items : center;
    overflow-x: auto;
    overflow-y: hidden;




}


.thumbnailImage img{
    width: 100%;
    height:120px;
    object-fit: cover;



}


#c1:checked + #f1 {
    opacity:1 ;

}